In [2]:
import pandas as pd

In [3]:
dataset=pd.read_csv("Hit or Flop movie Dataset.csv")
dataset

,S.No,Film Industry,Movie Name,Genre,Movie Release Date,Investment,Investment.1,Profit,Profit.1,Success/Failure,...,Pre-released song views.1,first song released date,YouTube Views.2,YouTube Views.3,OTT,Rating_Type,Meme Marketing,Critics,First day Box office collection,First day Box office collection.1
0,1,Kollywood,Vikram,Action,3/6/2022,115 Crore,1150000000,424 Crore,4240000000,1,...,98000000,15-05-2022,50 Million,50000000,Netflix,Good,Yes,Good,33 Crore,330000000
1,2,Kollywood,Sardar,Action,21-10-2022,40 Crore,400000000,85 Crore,850000000,1,...,4000000,18-11-2022,11 Million,11000000,Netflix,Good,Yes,Good,3.7 Crore,37000000
2,3,Kollywood,Beast,Action,13-04-2022,130 Crore,1300000000,227 Crore,2270000000,1,...,33000000,14-02-2022,48 Million,48000000,Netflix,Average,Yes,Average,40 Crore,400000000
3,4,Kollywood,Pizza,Horror,19-10-2012,1.5 Crore,15000000,8 Crore,80000000,1,...,176000,6/9/2012,250 Thousand,250000,Netflix,Good,No,Good,1.5 Crore,15000000
4,5,Kollywood,Naduvula Konjum Pakkatha kanum,Comedy,30-11-2012,0.8 Crore,8000000,18 Crore,180000000,1,...,49000,27-06-2012,30 Thousand,30000,Netflix,Good,No,Good,5 Crore,50000000
5,6,Kollywood,Don,Comedy,13-05-2022,40 Crore,400000000,121 Crore,1210000000,1,...,98000000,16-12-2021,47 Million,47000000,Netflix,Good,Yes,Good,15 Crore,150000000
6,7,Kollywood,Doctor,Action,9/10/2021,40 Crore,400000000,101 Crore,1010000000,1,...,34000000,2/10/2021,41 Million,41000000,Netflix,Good,Yes,Good,8 Crore,80000000
7,8,Kollywood,Ponniyin selvan-1,Action,30-09-2022,500 Crore,5000000000,495 Crore,4950000000,1,...,62000000,31-07-2022,50 Million,50000000,Netflix,Very good,Yes,Very Good,34 Crore,340000000
8,9,Kollywood,Maanaadu,Action,25-11-2021,30 Crore,300000000,84 Crore,840000000,1,...,38000000,21-06-2021,18 Million,18000000,Netflix,Good,Yes,Good,8 Crore,80000000
9,10,Kollywood,Master,Action,13-01-2021,135 Crore,1350000000,300 Crore,3000000000,1,...,112000000,15-03-2020,406 Million,406000000,Netflix,Good,Yes,Good,18 Crore,180000000
10,11,Kollywood,Soorarai pottru,Drama,12/11/2020,20 Crore,200000000,174 Crore,1740000000,1,...,16000000,24-01-2020,85 Million,85000000,Netflix,Good,Yes,Good,8 Crore,80000000
11,12,Kollywood,Theeran Adhigaram ondru,Action,17-11-2017,50 Crore,500000000,85 Crore,850000000,1,...,40000,13-11-2017,12.9 Thousand,12900,Netflix,Good,Yes,Good,10 Crore,100000000
12,13,Kollywood,Ka Pae Ranasingam,Drama,2/10/2020,10 Crore,100000000,11 Crore,110000000,1,...,100000,10/10/2020,8.3 Million,8300000,Netflix,Good,No,Good,8 Crore,80000000
13,14,Kollywood,Karnan,Action,9/4/2021,30 Crore,300000000,63 Crore,630000000,1,...,21000000,19-02-2021,19.5 Million,19500000,Netflix,Good,Yes,Good,10 Crore,100000000
14,15,Kollywood,Asuran,Action,4/10/2019,32 Crore,320000000,155 Crore,1550000000,1,...,23000000,18-09-2021,32 Million,32000000,Netflix,Good,Yes,Good,10 Crore,100000000
15,16,Kollywood,2,Action,29-11-2018,575 Crore,5750000000,750 Crore,7500000000,1,...,14000000,27-10-2017,7.9 Million,7900000,Netflix,Good,Yes,Good,82 Crore,820000000
16,17,Kollywood,24,Action,6/5/2016,80 Crore,800000000,120 Crore,1200000000,1,...,2000000,10/2/2016,8 Million,8000000,Netflix,Good,Yes,Good,33 Crore,330000000
17,18,Kollywood,English vinglish,Comedy,5/10/2012,10 Crore,100000000,102 Crore,1020000000,1,...,4100000,14-09-2012,3 Million,3000000,Netflix,Good,No,Good,2.5 Crore,25000000
18,19,Kollywood,Viswaroopam,Action,7/2/2013,95 Crore,950000000,220 Crore,2200000000,1,...,350000,11/2/2013,6.8 Million,6800000,Netflix,Good,No,Good,10 Crore,100000000
19,20,Kollywood,Kaththi,Action,22-10-2014,70 Crore,700000000,130 Crore,1300000000,1,...,1200000,17-10-2014,587 Thousand,587000,Netflix,Good,Yes,Good,15 Crore,150000000
20,21,Kollywood,Mahanati,Drama,9/5/2018,25 Crore,250000000,83 Crore,830000000,1,...,1200000,1/5/2018,101 Thousand,101000,Netflix,Good,No,Good,5.9 Crore,59000000
21,22,Kollywood,Baahubali-The beginning,Action,10/7/2015,180 Crore,1800000000,650 Crore,6500000000,1,...,1800000,7/6/2015,19.5 Million,195000000,Netflix,Good,Yes,Good,6 Crore,60000000
22,23,Kollywood,Enthiran,Action,1/10/2010,196 Crore,1960000000,311 Crore,3110000000,1,...,6000000,31-07-2010,1.4 Million,1400000,Netflix,Good,Yes,Good,100 Crore,1000000000
23,24,Kollywood,Kakka muttai,Comedy,5/6/2015,1 Crore,10000000,12 Crore,120000000,1,...,150000,4/5/2015,451 Thousand,451000,Netflix,Good,Yes,Good,2.4 Crore,24000000
24,25,Kollywood,Jai Bhim,Drama,2/11/2021,40 Crore,400000000,100 Crore,1000000000,1,...,19000000,30-10-2021,17 Million,17000000,Netflix,Good,Yes,Good,6 Crore,60000000
25,26,Kollywood,Aayirathil Oruvan,Action,14-01-2010,18 Crore,180000000,10 Crore,100000000,0,...,148000,4/6/2009,164 Thousand,164000,Netflix,Good,No,Good,1 Crore,10000000
26,27,Kollywood,NGK,Action,31-05-2019,65 Crore,650000000,30 Crore,300000000,0,...,1000000,19-04-2019,2.9 Million,2900000,Netflix,Bad,Yes,Bad,14 Crore,140000000
27,28,Kollywood,Bhoomi,Action,14-01-2021,30 Crore,300000000,15 Crore,150000000,0,...,2000000,18-10-2020,4 Million,4000000,Netflix,Bad,Yes,Bad,2 Crore,20000000
28,29,Kollywood,Thodari,Action,22-09-2016,40 Crore,400000000,23 Crore,230000000,0,...,2100000,6/6/2016,7.4 Million,7400000,Netflix,Bad,Yes,Bad,4.32 Crore,43200000
29,30,Kollywood,Prince,Comedy,21-10-2022,60 Crore,600000000,22 Crore,220000000,0,...,1000000,30-09-2022,27 Million,27000000,Netflix,Bad,Yes,Bad,6 Crore,60000000
30,31,Kollywood,Seema Raja,Action,13-09-2018,60 Crore,600000000,49 Crore,490000000,0,...,31000000,13-09-2018,73 Million,73000000,Netflix,Bad,Yes,Bad,1.3 Crore,13000000
31,32,Kollywood,Saamy Square,Action,21-09-2018,50 Crore,500000000,38 Crore,380000000,0,...,2400000,10/7/2018,93 Million,93000000,Netflix,Bad,Yes,Bad,60 lakh,6000000
32,33,Kollywood,Dev,Action,14-02-2019,40 Crore,400000000,25 Crore,250000000,0,...,2000000,7/2/2019,4.6 Million,4600000,Netflix,Bad,Yes,Bad,60 lakh,6000000
33,34,Kollywood,Puli,Action,1/10/2015,130 Crore,1300000000,100 Crore,1000000000,0,...,11000000,2/8/2015,23 Million,23000000,Netflix,Bad,No,Bad,10 Crore,100000000
34,35,Kollywood,Adhavan,Action,17-10-2009,30 Crore,300000000,20 Crore,200000000,0,...,5000000,20-08-2009,17 Thousand,17000,Netflix,Bad,No,Bad,2.3 Crore,23000000
35,36,Kollywood,Alex pandian,Action,11/1/2013,17 Crore,170000000,12 Crore,120000000,0,...,225000,12/12/2012,5.6 Million,5600000,Netflix,Bad,Yes,Bad,2 Crore,20000000
36,37,Kollywood,Naiyandi,Comedy,11/10/2013,20 Crore,200000000,16 Crore,160000000,0,...,1300000,17-09-2013,3.2 Million,3200000,Netflix,Bad,Yes,Bad,1 Crore,10000000
37,38,Kollywood,Manmadhan Ambu,Comedy,22-12-2010,50 Crore,500000000,30 Crore,300000000,0,...,440000,25-11-2010,20 Million,20000000,Netflix,Bad,No,Bad,5 Crore,50000000
38,39,Kollywood,Sura,Action,30-04-2010,30 Crore,300000000,40 Crore,400000000,0,...,12000,25-04-2010,10 Million,10000000,Netflix,Bad,No,Bad,2 Crore,20000000
39,40,Kollywood,Asal,Action,5/2/2010,22 Crore,220000000,12 Crore,120000000,0,...,34000,20-01-2010,100 Thousand,100000,Netflix,Bad,No,Bad,2 Crore,20000000
40,41,Kollywood,Rekka,Action,7/10/2016,10 Crore,100000000,14 Crore,140000000,0,...,2000000,30-09-2016,7 Million,7000000,Netflix,Bad,Yes,Bad,6 Crore,60000000
41,42,Kollywood,Vanamagan,Action,23-06-2017,18 Crore,180000000,10 Crore,100000000,0,...,2000000,22-04-2017,12 Million,12000000,Netflix,Bad,Yes,Bad,2 Crore,20000000
42,43,Kollywood,Hero,Superhero,20-12-2019,45 Crore,450000000,40 Crore,400000000,0,...,2800000,29-11-2019,30 Million,30000000,Netflix,Bad,Yes,Bad,1.31 Crore,13100000
43,44,Kollywood,Action,Action,15-11-2019,40 Crore,400000000,35 Crore,350000000,0,...,4200000,9/11/2019,5.4 Million,5400000,Netflix,Bad,Yes,Bad,1 Crore,10000000
44,45,Kollywood,Ravanan,Action,18-06-2010,55 Crore,550000000,50 Crore,500000000,0,...,2000000,7/5/2010,38 Million,38000000,Netflix,Bad,Yes,Bad,6 Crore,60000000
45,46,Kollywood,Cobra,Action,31-08-2022,90 Crore,900000000,58 Crore,580000000,0,...,6200000,9/8/2022,29 Million,29000000,Netflix,Bad,Yes,Bad,24 Crore,240000000
46,47,Kollywood,Mappillai,Action,8/4/2011,33 Crore,330000000,32 Crore,320000000,0,...,30000000,30-03-2011,4.4 Million,4400000,Netflix,Bad,No,Bad,5 Crore,50000000
47,48,Kollywood,Uttama villan,Comedy,2/5/2015,50 Crore,500000000,26 Crore,260000000,0,...,657000,1/3/2015,2 Million,2000000,Netflix,Bad,Yes,Bad,`10 Crore,100000000
48,49,Kollywood,Kochadaiyan,Action,23-05-2014,125 Crore,1250000000,42 Crore,420000000,0,...,1000000,9/3/2014,13 Million,13000000,Netflix,Bad,Yes,Bad,6 Crore,60000000
49,50,Kollywood,Anjaan,Action,15-08-2014,75 Crore,750000000,45 Crore,450000000,0,...,16000000,10/8/2014,16 Million,16000000,Netflix,Bad,Yes,Bad,1 Crore,10000000

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

,S.No,Investment.1,Profit.1,Success/Failure,IMDb Rating,YouTube Views.1,Common Background music,Theme background Music,No.of Part Released,Comedy Scene,...,First day Box office collection_34 Crore,First day Box office collection_4.32 Crore,First day Box office collection_40 Crore,First day Box office collection_5 Crore,First day Box office collection_5.9 Crore,First day Box office collection_6 Crore,First day Box office collection_60 lakh,First day Box office collection_8 Crore,First day Box office collection_82 Crore,First day Box office collection_`10 Crore
0,1,1150000000,4240000000,1,8.4,43000000,1,0,5,1,...,0,0,0,0,0,0,0,0,0,0
1,2,400000000,850000000,1,7.8,10000000,0,1,4,1,...,0,0,0,0,0,0,0,0,0,0
2,3,1300000000,2270000000,1,5.6,59000000,0,1,4,1,...,0,0,1,0,0,0,0,0,0,0
3,4,15000000,80000000,1,8.0,309000,0,1,2,1,...,0,0,0,0,0,0,0,0,0,0
4,5,8000000,180000000,1,8.2,80000,1,0,3,1,...,0,0,0,1,0,0,0,0,0,0
5,6,400000000,1210000000,1,6.9,14000000,1,1,5,1,...,0,0,0,0,0,0,0,0,0,0
6,7,400000000,1010000000,1,7.4,14000000,0,1,4,1,...,0,0,0,0,0,0,0,1,0,0
7,8,5000000000,4950000000,1,9.4,18000000,0,1,3,1,...,1,0,0,0,0,0,0,0,0,0
8,9,300000000,840000000,1,8.3,15000000,0,1,5,1,...,0,0,0,0,0,0,0,1,0,0
9,10,1350000000,3000000000,1,7.3,59000000,0,1,4,1,...,0,0,0,0,0,0,0,0,0,0
10,11,200000000,1740000000,1,8.7,28000000,0,1,5,1,...,0,0,0,0,0,0,0,1,0,0
11,12,500000000,850000000,1,8.2,1100000,1,0,3,1,...,0,0,0,0,0,0,0,0,0,0
12,13,100000000,110000000,1,7.3,45000000,1,0,4,1,...,0,0,0,0,0,0,0,0,0,0
13,14,300000000,630000000,1,8.0,19000000,1,0,4,1,...,0,0,0,0,0,0,0,0,0,0
14,15,320000000,1550000000,1,8.4,14000000,1,0,3,1,...,0,0,0,0,0,0,0,0,0,0
15,16,5750000000,7500000000,1,6.1,23000000,0,1,3,1,...,0,0,0,0,0,0,0,0,1,0
16,17,800000000,1200000000,1,7.8,6800000,1,0,4,1,...,0,0,0,0,0,0,0,0,0,0
17,18,100000000,1020000000,1,7.8,997000,1,0,4,1,...,0,0,0,0,0,0,0,0,0,0
18,19,950000000,2200000000,1,7.9,349000,0,1,4,1,...,0,0,0,0,0,0,0,0,0,0
19,20,700000000,1300000000,1,8.0,8800000,0,1,5,1,...,0,0,0,0,0,0,0,0,0,0
20,21,250000000,830000000,1,8.5,843000,1,0,3,1,...,0,0,0,0,1,0,0,0,0,0
21,22,1800000000,6500000000,1,8.0,5300000,0,1,4,1,...,0,0,0,0,0,1,0,0,0,0
22,23,1960000000,3110000000,1,7.1,414000,0,1,3,1,...,0,0,0,0,0,0,0,0,0,0
23,24,10000000,120000000,1,8.3,3000000,1,0,3,1,...,0,0,0,0,0,0,0,0,0,0
24,25,400000000,1000000000,1,8.9,24000000,0,1,4,1,...,0,0,0,0,0,1,0,0,0,0
25,26,180000000,100000000,0,8.0,213000,0,1,3,1,...,0,0,0,0,0,0,0,0,0,0
26,27,650000000,300000000,0,5.8,13000000,0,1,4,1,...,0,0,0,0,0,0,0,0,0,0
27,28,300000000,150000000,0,4.7,4200000,1,0,3,1,...,0,0,0,0,0,0,0,0,0,0
28,29,400000000,230000000,0,4.6,4300000,1,0,3,1,...,0,1,0,0,0,0,0,0,0,0
29,30,600000000,220000000,0,4.6,9000000,1,0,3,1,...,0,0,0,0,0,1,0,0,0,0
30,31,600000000,490000000,0,4.2,10000000,1,0,5,1,...,0,0,0,0,0,0,0,0,0,0
31,32,500000000,380000000,0,4.5,19000000,1,0,4,1,...,0,0,0,0,0,0,1,0,0,0
32,33,400000000,250000000,0,4.8,4600000,1,0,3,1,...,0,0,0,0,0,0,1,0,0,0
33,34,1300000000,1000000000,0,4.3,10000000,0,1,3,1,...,0,0,0,0,0,0,0,0,0,0
34,35,300000000,200000000,0,5.4,86000,1,0,3,1,...,0,0,0,0,0,0,0,0,0,0
35,36,170000000,120000000,0,2.8,780000,1,0,3,1,...,0,0,0,0,0,0,0,0,0,0
36,37,200000000,160000000,0,3.4,94000,1,0,3,1,...,0,0,0,0,0,0,0,0,0,0
37,38,500000000,300000000,0,5.6,350000,1,0,3,1,...,0,0,0,1,0,0,0,0,0,0
38,39,300000000,400000000,0,3.0,156000,1,0,3,1,...,0,0,0,0,0,0,0,0,0,0
39,40,220000000,120000000,0,3.7,68000,0,1,3,1,...,0,0,0,0,0,0,0,0,0,0
40,41,100000000,140000000,0,5.0,3000000,0,1,3,1,...,0,0,0,0,0,1,0,0,0,0
41,42,180000000,100000000,0,5.5,4900000,0,1,4,1,...,0,0,0,0,0,0,0,0,0,0
42,43,450000000,400000000,0,6.3,8400000,0,1,3,1,...,0,0,0,0,0,0,0,0,0,0
43,44,400000000,350000000,0,4.6,9400000,1,0,4,1,...,0,0,0,0,0,0,0,0,0,0
44,45,550000000,500000000,0,6.9,95000,1,0,3,1,...,0,0,0,0,0,1,0,0,0,0
45,46,900000000,580000000,0,6.2,26000000,0,1,3,1,...,0,0,0,0,0,0,0,0,0,0
46,47,330000000,320000000,0,3.2,380000,1,0,3,1,...,0,0,0,1,0,0,0,0,0,0
47,48,500000000,260000000,0,7.3,1000000,1,0,3,1,...,0,0,0,0,0,0,0,0,0,1
48,49,1250000000,420000000,0,6.2,489000,0,1,3,1,...,0,0,0,0,0,1,0,0,0,0
49,50,750000000,450000000,0,5.1,5200000,1,0,3,1,...,0,0,0,0,0,0,0,0,0,0

In [12]:
dataset.isnull().sum()

S.No                                         0
Investment.1                                 0
Profit.1                                     0
Success/Failure                              0
IMDb Rating                                  0
                                            ..
First day Box office collection_6 Crore      0
First day Box office collection_60 lakh      0
First day Box office collection_8 Crore      0
First day Box office collection_82 Crore     0
First day Box office collection_`10 Crore    0
Length: 588, dtype: int64

In [5]:
df=dataset[dataset["Success/Failure"]==1]
df

,S.No,Investment.1,Profit.1,Success/Failure,IMDb Rating,YouTube Views.1,Common Background music,Theme background Music,No.of Part Released,Comedy Scene,...,First day Box office collection_34 Crore,First day Box office collection_4.32 Crore,First day Box office collection_40 Crore,First day Box office collection_5 Crore,First day Box office collection_5.9 Crore,First day Box office collection_6 Crore,First day Box office collection_60 lakh,First day Box office collection_8 Crore,First day Box office collection_82 Crore,First day Box office collection_`10 Crore
0,1,1150000000,4240000000,1,8.4,43000000,1,0,5,1,...,0,0,0,0,0,0,0,0,0,0
1,2,400000000,850000000,1,7.8,10000000,0,1,4,1,...,0,0,0,0,0,0,0,0,0,0
2,3,1300000000,2270000000,1,5.6,59000000,0,1,4,1,...,0,0,1,0,0,0,0,0,0,0
3,4,15000000,80000000,1,8.0,309000,0,1,2,1,...,0,0,0,0,0,0,0,0,0,0
4,5,8000000,180000000,1,8.2,80000,1,0,3,1,...,0,0,0,1,0,0,0,0,0,0
5,6,400000000,1210000000,1,6.9,14000000,1,1,5,1,...,0,0,0,0,0,0,0,0,0,0
6,7,400000000,1010000000,1,7.4,14000000,0,1,4,1,...,0,0,0,0,0,0,0,1,0,0
7,8,5000000000,4950000000,1,9.4,18000000,0,1,3,1,...,1,0,0,0,0,0,0,0,0,0
8,9,300000000,840000000,1,8.3,15000000,0,1,5,1,...,0,0,0,0,0,0,0,1,0,0
9,10,1350000000,3000000000,1,7.3,59000000,0,1,4,1,...,0,0,0,0,0,0,0,0,0,0
10,11,200000000,1740000000,1,8.7,28000000,0,1,5,1,...,0,0,0,0,0,0,0,1,0,0
11,12,500000000,850000000,1,8.2,1100000,1,0,3,1,...,0,0,0,0,0,0,0,0,0,0
12,13,100000000,110000000,1,7.3,45000000,1,0,4,1,...,0,0,0,0,0,0,0,0,0,0
13,14,300000000,630000000,1,8.0,19000000,1,0,4,1,...,0,0,0,0,0,0,0,0,0,0
14,15,320000000,1550000000,1,8.4,14000000,1,0,3,1,...,0,0,0,0,0,0,0,0,0,0
15,16,5750000000,7500000000,1,6.1,23000000,0,1,3,1,...,0,0,0,0,0,0,0,0,1,0
16,17,800000000,1200000000,1,7.8,6800000,1,0,4,1,...,0,0,0,0,0,0,0,0,0,0
17,18,100000000,1020000000,1,7.8,997000,1,0,4,1,...,0,0,0,0,0,0,0,0,0,0
18,19,950000000,2200000000,1,7.9,349000,0,1,4,1,...,0,0,0,0,0,0,0,0,0,0
19,20,700000000,1300000000,1,8.0,8800000,0,1,5,1,...,0,0,0,0,0,0,0,0,0,0
20,21,250000000,830000000,1,8.5,843000,1,0,3,1,...,0,0,0,0,1,0,0,0,0,0
21,22,1800000000,6500000000,1,8.0,5300000,0,1,4,1,...,0,0,0,0,0,1,0,0,0,0
22,23,1960000000,3110000000,1,7.1,414000,0,1,3,1,...,0,0,0,0,0,0,0,0,0,0
23,24,10000000,120000000,1,8.3,3000000,1,0,3,1,...,0,0,0,0,0,0,0,0,0,0
24,25,400000000,1000000000,1,8.9,24000000,0,1,4,1,...,0,0,0,0,0,1,0,0,0,0

# 3)What is relationship between pre-release song views and profitable movies(success)?

In [9]:
#correlation
df.corr()

,S.No,Investment.1,Profit.1,Success/Failure,IMDb Rating,YouTube Views.1,Common Background music,Theme background Music,No.of Part Released,Comedy Scene,...,First day Box office collection_34 Crore,First day Box office collection_4.32 Crore,First day Box office collection_40 Crore,First day Box office collection_5 Crore,First day Box office collection_5.9 Crore,First day Box office collection_6 Crore,First day Box office collection_60 lakh,First day Box office collection_8 Crore,First day Box office collection_82 Crore,First day Box office collection_`10 Crore
S.No,1.000000,0.029411,0.077553,NaN,0.172574,-0.378277,0.033524,-0.113228,-0.138675,NaN,...,-0.141535,NaN,-0.283069,-0.226455,0.226455,0.429377,NaN,-0.204837,0.084921,NaN
Investment.1,0.029411,1.000000,0.855877,NaN,-0.204904,0.157180,-0.391408,0.362979,-0.220079,NaN,...,0.584146,NaN,0.046697,-0.140974,-0.105822,0.025492,NaN,-0.178301,0.693089,NaN
Profit.1,0.077553,0.855877,1.000000,NaN,-0.205744,0.213234,-0.389386,0.363955,-0.006801,NaN,...,0.319870,NaN,0.035861,-0.185623,-0.116740,0.278383,NaN,-0.140896,0.590102,NaN
Success/Failure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IMDb Rating,0.172574,-0.204904,-0.205744,NaN,1.000000,-0.365197,0.142064,-0.239910,-0.039506,NaN,...,0.390105,NaN,-0.567517,0.087698,0.163300,0.217705,NaN,0.128259,-0.441514,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
First day Box office collection_6 Crore,0.429377,0.025492,0.278383,NaN,0.217705,-0.031488,-0.261387,0.240772,0.073721,NaN,...,-0.060193,NaN,-0.060193,-0.060193,-0.060193,1.000000,NaN,-0.108893,-0.060193,NaN
First day Box office collection_60 lakh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
First day Box office collection_8 Crore,-0.204837,-0.178301,-0.140896,NaN,0.128259,0.052310,-0.327327,0.301511,0.400047,NaN,...,-0.075378,NaN,-0.075378,-0.075378,-0.075378,-0.108893,NaN,1.000000,-0.075378,NaN
First day Box office collection_82 Crore,0.084921,0.693089,0.590102,NaN,-0.441514,0.075547,-0.180937,0.166667,-0.204124,NaN,...,-0.041667,NaN,-0.041667,-0.041667,-0.041667,-0.060193,NaN,-0.075378,1.000000,NaN
First day Box office collection_`10 Crore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
data=df['Pre-released song views.1'].corr(df['Profit.1'])
data

0.2670192778928548

In [14]:
#Correlation-Relationship between 2 columns
#Pre-released song views,Profit
  #Positive correlation,26% directly proportional

# 4)What is relationship between Trailer views and profitable movies(success)?

In [16]:
data=df['YouTube Views.1'].corr(df['Profit.1'])
data

0.21323350834803048

In [17]:
#Correlation-Relationship between 2 columns
#Trailer views,Profitable movies
#Positive correlation,21% directly proportional

In [18]:
df1=dataset[dataset["Success/Failure"]==0]
df1

,S.No,Investment.1,Profit.1,Success/Failure,IMDb Rating,YouTube Views.1,Common Background music,Theme background Music,No.of Part Released,Comedy Scene,...,First day Box office collection_34 Crore,First day Box office collection_4.32 Crore,First day Box office collection_40 Crore,First day Box office collection_5 Crore,First day Box office collection_5.9 Crore,First day Box office collection_6 Crore,First day Box office collection_60 lakh,First day Box office collection_8 Crore,First day Box office collection_82 Crore,First day Box office collection_`10 Crore
25,26,180000000,100000000,0,8.0,213000,0,1,3,1,...,0,0,0,0,0,0,0,0,0,0
26,27,650000000,300000000,0,5.8,13000000,0,1,4,1,...,0,0,0,0,0,0,0,0,0,0
27,28,300000000,150000000,0,4.7,4200000,1,0,3,1,...,0,0,0,0,0,0,0,0,0,0
28,29,400000000,230000000,0,4.6,4300000,1,0,3,1,...,0,1,0,0,0,0,0,0,0,0
29,30,600000000,220000000,0,4.6,9000000,1,0,3,1,...,0,0,0,0,0,1,0,0,0,0
30,31,600000000,490000000,0,4.2,10000000,1,0,5,1,...,0,0,0,0,0,0,0,0,0,0
31,32,500000000,380000000,0,4.5,19000000,1,0,4,1,...,0,0,0,0,0,0,1,0,0,0
32,33,400000000,250000000,0,4.8,4600000,1,0,3,1,...,0,0,0,0,0,0,1,0,0,0
33,34,1300000000,1000000000,0,4.3,10000000,0,1,3,1,...,0,0,0,0,0,0,0,0,0,0
34,35,300000000,200000000,0,5.4,86000,1,0,3,1,...,0,0,0,0,0,0,0,0,0,0
35,36,170000000,120000000,0,2.8,780000,1,0,3,1,...,0,0,0,0,0,0,0,0,0,0
36,37,200000000,160000000,0,3.4,94000,1,0,3,1,...,0,0,0,0,0,0,0,0,0,0
37,38,500000000,300000000,0,5.6,350000,1,0,3,1,...,0,0,0,1,0,0,0,0,0,0
38,39,300000000,400000000,0,3.0,156000,1,0,3,1,...,0,0,0,0,0,0,0,0,0,0
39,40,220000000,120000000,0,3.7,68000,0,1,3,1,...,0,0,0,0,0,0,0,0,0,0
40,41,100000000,140000000,0,5.0,3000000,0,1,3,1,...,0,0,0,0,0,1,0,0,0,0
41,42,180000000,100000000,0,5.5,4900000,0,1,4,1,...,0,0,0,0,0,0,0,0,0,0
42,43,450000000,400000000,0,6.3,8400000,0,1,3,1,...,0,0,0,0,0,0,0,0,0,0
43,44,400000000,350000000,0,4.6,9400000,1,0,4,1,...,0,0,0,0,0,0,0,0,0,0
44,45,550000000,500000000,0,6.9,95000,1,0,3,1,...,0,0,0,0,0,1,0,0,0,0
45,46,900000000,580000000,0,6.2,26000000,0,1,3,1,...,0,0,0,0,0,0,0,0,0,0
46,47,330000000,320000000,0,3.2,380000,1,0,3,1,...,0,0,0,1,0,0,0,0,0,0
47,48,500000000,260000000,0,7.3,1000000,1,0,3,1,...,0,0,0,0,0,0,0,0,0,1
48,49,1250000000,420000000,0,6.2,489000,0,1,3,1,...,0,0,0,0,0,1,0,0,0,0
49,50,750000000,450000000,0,5.1,5200000,1,0,3,1,...,0,0,0,0,0,0,0,0,0,0

# 4)What is relationship between pre-release song views and profitable movies(Failure)?

In [19]:
#correlation
df1.corr()

,S.No,Investment.1,Profit.1,Success/Failure,IMDb Rating,YouTube Views.1,Common Background music,Theme background Music,No.of Part Released,Comedy Scene,...,First day Box office collection_34 Crore,First day Box office collection_4.32 Crore,First day Box office collection_40 Crore,First day Box office collection_5 Crore,First day Box office collection_5.9 Crore,First day Box office collection_6 Crore,First day Box office collection_60 lakh,First day Box office collection_8 Crore,First day Box office collection_82 Crore,First day Box office collection_`10 Crore
S.No,1.000000,0.213401,0.211878,NaN,0.118704,-0.111836,-0.069338,0.069338,-0.227403,NaN,...,NaN,-0.254762,NaN,0.184019,NaN,0.196699,-0.224912,NaN,NaN,0.283069
Investment.1,0.213401,1.000000,0.819280,NaN,0.216356,0.412644,-0.247876,0.247876,0.011056,NaN,...,NaN,-0.054829,NaN,-0.064576,NaN,0.207605,-0.030434,NaN,NaN,0.012694
Profit.1,0.211878,0.819280,1.000000,NaN,0.030423,0.445151,-0.129556,0.129556,0.082275,NaN,...,NaN,-0.092174,NaN,-0.011552,NaN,0.005399,-0.003952,NaN,NaN,-0.060607
Success/Failure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IMDb Rating,0.118704,0.216356,0.030423,NaN,1.000000,0.080972,-0.368722,0.368722,-0.082229,NaN,...,NaN,-0.067251,NaN,-0.142552,NaN,0.217364,-0.085804,NaN,NaN,0.356998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
First day Box office collection_6 Crore,0.196699,0.207605,0.005399,NaN,0.217364,-0.151768,-0.127294,0.127294,-0.204479,NaN,...,NaN,-0.089087,NaN,-0.128698,NaN,1.000000,-0.128698,NaN,NaN,-0.089087
First day Box office collection_60 lakh,-0.224912,-0.030434,-0.003952,NaN,-0.085804,0.293193,0.221163,-0.221163,0.149673,NaN,...,NaN,-0.060193,NaN,-0.086957,NaN,-0.128698,1.000000,NaN,NaN,-0.060193
First day Box office collection_8 Crore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
First day Box office collection_82 Crore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
First day Box office collection_`10 Crore,0.283069,0.012694,-0.060607,NaN,0.356998,-0.138913,0.153093,-0.153093,-0.095637,NaN,...,NaN,-0.041667,NaN,-0.060193,NaN,-0.089087,-0.060193,NaN,NaN,1.000000

In [20]:
data=df1['Pre-released song views.1'].corr(df1['Profit.1'])
data

0.37688420800830114

In [11]:
#Correlation-Relationship between 2 columns
#Pre-released song views,Profit
  #Positive correlation,37% directly proportional

# 5)What is relationship between Trailer views and profitable movies(Failre)?

In [22]:
data=df1['YouTube Views.1'].corr(df1['Profit.1'])
data

0.44515121739601055

In [23]:
#Correlation-Relationship between 2 columns
#Trailer views,Profitable movies
#Positive correlation,44% directly proportional