In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split 
import time
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
import pickle
import matplotlib.pyplot as plt



def selectkbest(indep_X,dep_Y,n):
        test = SelectKBest(score_func=chi2, k=n)
        fit1= test.fit(indep_X,dep_Y)
        selectk_features = fit1.transform(indep_X)
        return selectk_features
    
def split_scalar(indep_X,dep_Y):
        X_train, X_test, y_train, y_test = train_test_split(indep_X, dep_Y, test_size = 0.25, random_state = 0)
        sc = StandardScaler()
        X_train = sc.fit_transform(X_train)
        X_test = sc.transform(X_test)    
        return X_train, X_test, y_train, y_test
    
def cm_prediction(classifier,X_test):
        y_pred = classifier.predict(X_test)
        
        # Making the Confusion Matrix
        from sklearn.metrics import confusion_matrix
        cm = confusion_matrix(y_test, y_pred)
        
        from sklearn.metrics import accuracy_score 
        from sklearn.metrics import classification_report 
            #from sklearn.metrics import confusion_matrix
            #cm = confusion_matrix(y_test, y_pred)

        Accuracy=accuracy_score(y_test, y_pred )

        report=classification_report(y_test, y_pred)
        return  classifier,Accuracy,report,X_test,y_test,cm

def logistic(X_train,y_train,X_test):       
        # Fitting K-NN to the Training set
        from sklearn.linear_model import LogisticRegression
        classifier = LogisticRegression(random_state = 0)
        classifier.fit(X_train, y_train)
        classifier,Accuracy,report,X_test,y_test,cm=cm_prediction(classifier,X_test)
        return  classifier,Accuracy,report,X_test,y_test,cm      
    
def svm_linear(X_train,y_train,X_test):
                
        from sklearn.svm import SVC
        classifier = SVC(kernel = 'linear', random_state = 0)
        classifier.fit(X_train, y_train)
        classifier,Accuracy,report,X_test,y_test,cm=cm_prediction(classifier,X_test)
        return  classifier,Accuracy,report,X_test,y_test,cm
    
def svm_NL(X_train,y_train,X_test):
                
        from sklearn.svm import SVC
        classifier = SVC(kernel = 'rbf', random_state = 0)
        classifier.fit(X_train, y_train)
        classifier,Accuracy,report,X_test,y_test,cm=cm_prediction(classifier,X_test)
        return  classifier,Accuracy,report,X_test,y_test,cm
def Navie(X_train,y_train,X_test):       
        # Fitting K-NN to the Training set
        from sklearn.naive_bayes import GaussianNB
        classifier = GaussianNB()
        classifier.fit(X_train, y_train)
        classifier,Accuracy,report,X_test,y_test,cm=cm_prediction(classifier,X_test)
        return  classifier,Accuracy,report,X_test,y_test,cm         
    
    
def knn(X_train,y_train,X_test):
           
        # Fitting K-NN to the Training set
        from sklearn.neighbors import KNeighborsClassifier
        classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
        classifier.fit(X_train, y_train)
        classifier,Accuracy,report,X_test,y_test,cm=cm_prediction(classifier,X_test)
        return  classifier,Accuracy,report,X_test,y_test,cm
def Decision(X_train,y_train,X_test):
        
        # Fitting K-NN to the Training set
        from sklearn.tree import DecisionTreeClassifier
        classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
        classifier.fit(X_train, y_train)
        classifier,Accuracy,report,X_test,y_test,cm=cm_prediction(classifier,X_test)
        return  classifier,Accuracy,report,X_test,y_test,cm      


def random(X_train,y_train,X_test):
        
        # Fitting K-NN to the Training set
        from sklearn.ensemble import RandomForestClassifier
        classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
        classifier.fit(X_train, y_train)
        classifier,Accuracy,report,X_test,y_test,cm=cm_prediction(classifier,X_test)
        return  classifier,Accuracy,report,X_test,y_test,cm
    
def selectk_Classification(acclog,accsvml,accsvmnl,accknn,accnav,accdes,accrf): 
    
    dataframe=pd.DataFrame(index=['ChiSquare'],columns=['Logistic','SVMl','SVMnl','KNN','Navie','Decision','Random'])
    for number,idex in enumerate(dataframe.index):      
        dataframe['Logistic'][idex]=acclog[number]       
        dataframe['SVMl'][idex]=accsvml[number]
        dataframe['SVMnl'][idex]=accsvmnl[number]
        dataframe['KNN'][idex]=accknn[number]
        dataframe['Navie'][idex]=accnav[number]
        dataframe['Decision'][idex]=accdes[number]
        dataframe['Random'][idex]=accrf[number]
    return dataframe

In [15]:
dataset=pd.read_csv("Hit or Flop movie Dataset.csv")
df2=dataset
df2=pd.get_dummies(dataset,drop_first=True)
df2

,S.No,Investment.1,Profit.1,Success/Failure,IMDb Rating,YouTube Views.1,Common Background music,Theme background Music,No.of Part Released,Comedy Scene,...,First day Box office collection_34 Crore,First day Box office collection_4.32 Crore,First day Box office collection_40 Crore,First day Box office collection_5 Crore,First day Box office collection_5.9 Crore,First day Box office collection_6 Crore,First day Box office collection_60 lakh,First day Box office collection_8 Crore,First day Box office collection_82 Crore,First day Box office collection_`10 Crore
0,1,4500000000,1500000000,1,8.4,43000000,1,0,5,1,...,0,0,0,0,0,0,0,0,0,0
1,2,400000000,1000000000,1,7.8,10000000,0,1,4,1,...,0,0,0,0,0,0,0,0,0,0
2,3,1500000000,2500000000,1,5.6,59000000,0,1,4,1,...,0,0,1,0,0,0,0,0,0,0
3,4,15000000,80000000,1,8.0,309000,0,1,2,1,...,0,0,0,0,0,0,0,0,0,0
4,5,8000000,180000000,1,8.2,80000,1,0,3,1,...,0,0,0,1,0,0,0,0,0,0
5,6,50000000,1000000000,1,6.9,14000000,1,1,5,1,...,0,0,0,0,0,0,0,0,0,0
6,7,400000000,1000000000,1,7.4,14000000,0,1,4,1,...,0,0,0,0,0,0,0,1,0,0
7,8,5000000000,4950000000,1,9.4,18000000,0,1,3,1,...,1,0,0,0,0,0,0,0,0,0
8,9,300000000,1170000000,1,8.3,15000000,0,1,5,1,...,0,0,0,0,0,0,0,1,0,0
9,10,1350000000,3000000000,1,7.3,59000000,0,1,4,1,...,0,0,0,0,0,0,0,0,0,0
10,11,200000000,1740000000,1,8.7,28000000,0,1,5,1,...,0,0,0,0,0,0,0,1,0,0
11,12,500000000,850000000,1,8.2,1100000,1,0,3,1,...,0,0,0,0,0,0,0,0,0,0
12,13,100000000,90000000,1,7.3,45000000,1,0,4,1,...,0,0,0,0,0,0,0,0,0,0
13,14,100000000,630000000,1,8.0,19000000,1,0,4,1,...,0,0,0,0,0,0,0,0,0,0
14,15,320000000,1550000000,1,8.4,14000000,1,0,3,1,...,0,0,0,0,0,0,0,0,0,0
15,16,6000000000,8000000000,1,6.1,23000000,0,1,3,1,...,0,0,0,0,0,0,0,0,1,0
16,17,700000000,1000000000,1,7.8,6800000,1,0,4,1,...,0,0,0,0,0,0,0,0,0,0
17,18,100000000,1020000000,1,7.8,997000,1,0,4,1,...,0,0,0,0,0,0,0,0,0,0
18,19,950000000,2200000000,1,7.9,349000,0,1,4,1,...,0,0,0,0,0,0,0,0,0,0
19,20,700000000,1300000000,1,8.0,8800000,0,1,5,1,...,0,0,0,0,0,0,0,0,0,0
20,21,250000000,830000000,1,8.5,843000,1,0,3,1,...,0,0,0,0,1,0,0,0,0,0
21,22,1800000000,6500000000,1,8.0,5300000,0,1,4,1,...,0,0,0,0,0,1,0,0,0,0
22,23,1500000000,2900000000,1,7.1,414000,0,1,3,1,...,0,0,0,0,0,0,0,0,0,0
23,24,10000000,120000000,1,8.3,3000000,1,0,3,1,...,0,0,0,0,0,0,0,0,0,0
24,25,400000000,1000000000,1,8.9,24000000,0,1,4,1,...,0,0,0,0,0,1,0,0,0,0
25,26,180000000,100000000,0,8.0,213000,0,1,3,1,...,0,0,0,0,0,0,0,0,0,0
26,27,650000000,300000000,0,5.8,13000000,0,1,4,1,...,0,0,0,0,0,0,0,0,0,0
27,28,300000000,150000000,0,4.7,4200000,1,0,3,1,...,0,0,0,0,0,0,0,0,0,0
28,29,400000000,230000000,0,4.6,4300000,1,0,3,1,...,0,1,0,0,0,0,0,0,0,0
29,30,600000000,220000000,0,4.6,9000000,1,0,3,1,...,0,0,0,0,0,1,0,0,0,0
30,31,600000000,490000000,0,4.2,10000000,1,0,5,1,...,0,0,0,0,0,0,0,0,0,0
31,32,500000000,380000000,0,4.5,19000000,1,0,4,1,...,0,0,0,0,0,0,1,0,0,0
32,33,400000000,250000000,0,4.8,4600000,1,0,3,1,...,0,0,0,0,0,0,1,0,0,0
33,34,1300000000,1000000000,0,4.3,10000000,0,1,3,1,...,0,0,0,0,0,0,0,0,0,0
34,35,300000000,200000000,0,5.4,86000,1,0,3,1,...,0,0,0,0,0,0,0,0,0,0
35,36,170000000,120000000,0,2.8,780000,1,0,3,1,...,0,0,0,0,0,0,0,0,0,0
36,37,200000000,160000000,0,3.4,94000,1,0,3,1,...,0,0,0,0,0,0,0,0,0,0
37,38,500000000,300000000,0,5.6,350000,1,0,3,1,...,0,0,0,1,0,0,0,0,0,0
38,39,300000000,400000000,0,3.0,156000,1,0,3,1,...,0,0,0,0,0,0,0,0,0,0
39,40,220000000,120000000,0,3.7,68000,0,1,3,1,...,0,0,0,0,0,0,0,0,0,0
40,41,100000000,140000000,0,5.0,3000000,0,1,3,1,...,0,0,0,0,0,1,0,0,0,0
41,42,180000000,100000000,0,5.5,4900000,0,1,4,1,...,0,0,0,0,0,0,0,0,0,0
42,43,450000000,400000000,0,6.3,8400000,0,1,3,1,...,0,0,0,0,0,0,0,0,0,0
43,44,400000000,350000000,0,4.6,9400000,1,0,4,1,...,0,0,0,0,0,0,0,0,0,0
44,45,550000000,500000000,0,6.9,95000,1,0,3,1,...,0,0,0,0,0,1,0,0,0,0
45,46,1000000000,600000000,0,6.2,26000000,0,1,3,1,...,0,0,0,0,0,0,0,0,0,0
46,47,330000000,320000000,0,3.2,380000,1,0,3,1,...,0,0,0,1,0,0,0,0,0,0
47,48,500000000,260000000,0,7.3,1000000,1,0,3,1,...,0,0,0,0,0,0,0,0,0,1
48,49,1250000000,420000000,0,6.2,489000,0,1,3,1,...,0,0,0,0,0,1,0,0,0,0
49,50,750000000,450000000,0,5.1,5200000,1,0,3,1,...,0,0,0,0,0,0,0,0,0,0

In [16]:
indep_X=df2.drop("Success/Failure",1)
dep_Y=df2['Success/Failure']

C:\Users\spavi\Anaconda3\Anaconda\envs\aiml\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

In [23]:
kbest=selectkbest(indep_X,dep_Y,4)       

acclog=[]
accsvml=[]
accsvmnl=[]
accknn=[]
accnav=[]
accdes=[]
accrf=[]
kbest

array([[4.50e+09, 1.50e+09, 9.80e+07, 3.30e+08],
       [4.00e+08, 1.00e+09, 4.00e+06, 3.70e+07],
       [1.50e+09, 2.50e+09, 3.30e+07, 4.00e+08],
       [1.50e+07, 8.00e+07, 1.76e+05, 1.50e+07],
       [8.00e+06, 1.80e+08, 4.90e+04, 5.00e+07],
       [5.00e+07, 1.00e+09, 9.80e+07, 1.50e+08],
       [4.00e+08, 1.00e+09, 3.40e+07, 8.00e+07],
       [5.00e+09, 4.95e+09, 6.20e+07, 3.40e+08],
       [3.00e+08, 1.17e+09, 3.80e+07, 8.00e+07],
       [1.35e+09, 3.00e+09, 1.12e+08, 1.80e+08],
       [2.00e+08, 1.74e+09, 1.60e+07, 8.00e+07],
       [5.00e+08, 8.50e+08, 4.00e+04, 1.00e+08],
       [1.00e+08, 9.00e+07, 1.00e+05, 8.00e+07],
       [1.00e+08, 6.30e+08, 2.10e+07, 1.00e+08],
       [3.20e+08, 1.55e+09, 2.30e+07, 1.00e+08],
       [6.00e+09, 8.00e+09, 1.40e+07, 8.20e+08],
       [7.00e+08, 1.00e+09, 2.00e+06, 3.30e+08],
       [1.00e+08, 1.02e+09, 4.10e+06, 2.50e+07],
       [9.50e+08, 2.20e+09, 3.50e+05, 1.00e+08],
       [7.00e+08, 1.30e+09, 1.20e+06, 1.50e+08],
       [2.50e+08, 8.30e+08, 1.20e+06, 5.90e+07],
       [1.80e+09, 6.50e+09, 1.80e+06, 6.00e+07],
       [1.50e+09, 2.90e+09, 6.00e+06, 1.00e+09],
       [1.00e+07, 1.20e+08, 1.50e+05, 2.40e+07],
       [4.00e+08, 1.00e+09, 1.90e+07, 6.00e+07],
       [1.80e+08, 1.00e+08, 1.48e+05, 1.00e+07],
       [6.50e+08, 3.00e+08, 1.00e+06, 1.40e+08],
       [3.00e+08, 1.50e+08, 2.00e+06, 2.00e+07],
       [4.00e+08, 2.30e+08, 2.10e+06, 4.32e+07],
       [6.00e+08, 2.20e+08, 1.00e+06, 6.00e+07],
       [6.00e+08, 4.90e+08, 3.10e+07, 1.30e+07],
       [5.00e+08, 3.80e+08, 2.40e+06, 6.00e+06],
       [4.00e+08, 2.50e+08, 2.00e+06, 6.00e+06],
       [1.30e+09, 1.00e+09, 1.10e+07, 1.00e+08],
       [3.00e+08, 2.00e+08, 5.00e+06, 2.30e+07],
       [1.70e+08, 1.20e+08, 2.25e+05, 2.00e+07],
       [2.00e+08, 1.60e+08, 1.30e+06, 1.00e+07],
       [5.00e+08, 3.00e+08, 4.40e+05, 5.00e+07],
       [3.00e+08, 4.00e+08, 1.20e+04, 2.00e+07],
       [2.20e+08, 1.20e+08, 3.40e+04, 2.00e+07],
       [1.00e+08, 1.40e+08, 2.00e+06, 6.00e+07],
       [1.80e+08, 1.00e+08, 2.00e+06, 2.00e+07],
       [4.50e+08, 4.00e+08, 2.80e+06, 1.31e+07],
       [4.00e+08, 3.50e+08, 4.20e+06, 1.00e+07],
       [5.50e+08, 5.00e+08, 2.00e+06, 6.00e+07],
       [1.00e+09, 6.00e+08, 6.20e+06, 2.40e+08],
       [3.30e+08, 3.20e+08, 3.00e+07, 5.00e+07],
       [5.00e+08, 2.60e+08, 6.57e+05, 1.00e+08],
       [1.25e+09, 4.20e+08, 1.00e+06, 6.00e+07],
       [7.50e+08, 4.50e+08, 1.60e+07, 1.00e+07]])

In [24]:
X_train, X_test, y_train, y_test=split_scalar(kbest,dep_Y)   
    
        
classifier,Accuracy,report,X_test,y_test,cm=logistic(X_train,y_train,X_test)
acclog.append(Accuracy)

classifier,Accuracy,report,X_test,y_test,cm=svm_linear(X_train,y_train,X_test)  
accsvml.append(Accuracy)
    
classifier,Accuracy,report,X_test,y_test,cm=svm_NL(X_train,y_train,X_test)  
accsvmnl.append(Accuracy)
    
classifier,Accuracy,report,X_test,y_test,cm=knn(X_train,y_train,X_test)  
accknn.append(Accuracy)
    
classifier,Accuracy,report,X_test,y_test,cm=Navie(X_train,y_train,X_test)  
accnav.append(Accuracy)
    
classifier,Accuracy,report,X_test,y_test,cm=Decision(X_train,y_train,X_test)  
accdes.append(Accuracy)
    
classifier,Accuracy,report,X_test,y_test,cm=random(X_train,y_train,X_test)  
accrf.append(Accuracy)
    
result=selectk_Classification(acclog,accsvml,accsvmnl,accknn,accnav,accdes,accrf)

C:\Users\spavi\Anaconda3\Anaconda\envs\aiml\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\spavi\Anaconda3\Anaconda\envs\aiml\lib\site-packages\sklearn\linear_model\base.py:291: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  indices = (scores > 0).astype(np.int)
C:\Users\spavi\Anaconda3\Anaconda\envs\aiml\lib\site-packages\sklearn\neighbors\base.py:908: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  self._y = np.empty(y.shape, dtype=np.int)
C:\Users\spavi\Anaconda3\Anaconda\envs\aiml\lib\site-packages\sklearn\neighbors\base.py:441: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  old_joblib = LooseVersion(joblib_version) < LooseVersion('0.12')
C:\Users\spavi\Anaconda3\Anaconda\envs\aiml\lib\site-packages\sklearn\neighbors\base.py:441: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  old_joblib = LooseVersion(joblib_version) < LooseVersion('0.12')
C:\Users\spavi\Anaconda3\Anaconda\envs\aiml\lib\site-packages\sklearn\tree\tree.py:163: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  y_encoded = np.zeros(y.shape, dtype=np.int)
C:\Users\spavi\Anaconda3\Anaconda\envs\aiml\lib\site-packages\sklearn\ensemble\forest.py:489: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  y_store_unique_indices = np.zeros(y.shape, dtype=np.int)
C:\Users\spavi\Anaconda3\Anaconda\envs\aiml\lib\site-packages\sklearn\utils\fixes.py:230: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  if _joblib.__version__ >= LooseVersion('0.12'):
C:\Users\spavi\Anaconda3\Anaconda\envs\aiml\lib\site-packages\sklearn\tree\tree.py:163: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  y_encoded = np.zeros(y.shape, dtype=np.int)
C:\Users\spavi\Anaconda3\Anaconda\envs\aiml\lib\site-packages\sklearn\tree\tree.py:163: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  y_encoded = np.zeros(y.shape, dtype=np.int)
C:\Users\spavi\Anaconda3\Anaconda\envs\aiml\lib\site-packages\sklearn\tree\tree.py:163: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  y_encoded = np.zeros(y.shape, dtype=np.int)
C:\Users\spavi\Anaconda3\Anaconda\envs\aiml\lib\site-packages\sklearn\tree\tree.py:163: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  y_encoded = np.zeros(y.shape, dtype=np.int)
C:\Users\spavi\Anaconda3\Anaconda\envs\aiml\lib\site-packages\sklearn\tree\tree.py:163: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  y_encoded = np.zeros(y.shape, dtype=np.int)
C:\Users\spavi\Anaconda3\Anaconda\envs\aiml\lib\site-packages\sklearn\tree\tree.py:163: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  y_encoded = np.zeros(y.shape, dtype=np.int)
C:\Users\spavi\Anaconda3\Anaconda\envs\aiml\lib\site-packages\sklearn\tree\tree.py:163: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  y_encoded = np.zeros(y.shape, dtype=np.int)
C:\Users\spavi\Anaconda3\Anaconda\envs\aiml\lib\site-packages\sklearn\tree\tree.py:163: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  y_encoded = np.zeros(y.shape, dtype=np.int)
C:\Users\spavi\Anaconda3\Anaconda\envs\aiml\lib\site-packages\sklearn\tree\tree.py:163: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  y_encoded = np.zeros(y.shape, dtype=np.int)
C:\Users\spavi\Anaconda3\Anaconda\envs\aiml\lib\site-packages\sklearn\tree\tree.py:163: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  y_encoded = np.zeros(y.shape, dtype=np.int)
C:\Users\spavi\Anaconda3\Anaconda\envs\aiml\lib\site-packages\sklearn\ensemble\base.py:158: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype=np.int)
C:\Users\spavi\Anaconda3\Anaconda\envs\aiml\lib\site-packages\sklearn\utils\fixes.py:230: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  if _joblib.__version__ >= LooseVersion('0.12'):

In [19]:
#6
result

,Logistic,SVMl,SVMnl,KNN,Navie,Decision,Random
ChiSquare,0.846154,0.846154,0.769231,0.846154,0.692308,0.923077,0.846154

In [22]:
#5
result

           Logistic      SVMl     SVMnl  KNN     Navie  Decision    Random
ChiSquare  0.923077  0.923077  0.846154  1.0  0.769231  0.923077  0.923077

In [25]:
#4
result

           Logistic      SVMl     SVMnl  KNN     Navie  Decision    Random
ChiSquare  0.846154  0.846154  0.846154  1.0  0.846154  0.846154  0.923077